h1{
    color: blue;
    text-align: center;
    background-color: white;
    font-variant-position: super;
}
p{
    text-align: center;  
    color: black;
}
.klasa1{
    color: red;
}

div{
    position: relative; margin-top: 200px;
}